
// PRODUCT PAGE
#product_addCart_btn,
#product_out_stock_btn{
    display:none;
}
.product_in_colors .colors_cubes_name span{
  font-size: 1.1rem;
  font-style: italic;
  text-transform: capitalize;
  font-family: "Playfair Display";
}
.product_in_model{
  font-size:1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.product_in_styles{
  font-weight: bold;
  font-size: 1.1rem;
  margin: 4px 0px;
  text-align: left;
}
.product_in_rate{
  font-size:1.3rem;
}
.vesti_out_stock_btn{
  background-color: black;
  color:white;
  border: 1px solid black;
  padding: 10px 0;
  font-family: Playfair Display;
  text-align: center;
  font-style: italic;
  cursor: pointer;
  font-size: 1rem;
}
.product_main_txt .shoplist-stock-txt{
  font-size: 1rem;
  padding:5px 0px;
  font-family:Arial;
}
.product_in_rate .rate-view{
  color:$main_vest_color_b;
}
.product_in_rate .rate-count{
  display: inline-block;
  vertical-align: top;
}
.product_in_rate .rate-view{
  display:inline-block;
}
.product_in{
  padding:50px 0px;
  margin: 100px auto 50px auto;
}
.product_thumnnail img{
    width:70px;
}
.product_main_img img{
    width:100%;
}
.product_main_txt{
    display:table;
}
.product_in_txt{
    display:table-cell;
    text-align:left;
}
.product_in_title{
    font-weight:700 !important;
    font-size:2rem;
    padding-bottom: 0px !important;
}
.product_in_vendor{
    font-weight: 700;
    font-family: $playfair_display;
    font-style: italic;
}
.product_in_detail{
    font-size: 1.1rem;
    line-height: 1.4;
    padding: 10px 0px;
}
.product_in_price{
    font-family: Arial;
    font-weight: bold;
    font-size: 2rem;
}
.product_in_sub_title{
    font-family: $playfair_display;
    font-style: italic;
    font-size: 1.1rem;
}
.product_in_colors,
.product_in_size{
    margin-bottom: 10px;
}
.size_spheres{
    width: 34px;
    height: 33px;
    background: transparent;
    display: inline-block;
    border-radius: 18px;
    margin: 2px 2px 2px 0px;
    border: $vesti-light-bars-b;
    cursor: pointer;
    font-family: "Arial";
    font-size: .8rem;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
button.size_spheres:hover {
    background: black;
    color: white;
}
button.size_spheres.selected {
    background: black;
    color: white;
}
button.colors_cubes.selected{
  border: 1px solid white;
  outline: 1px solid black;
}
.product_in_detail_drop{
    margin: 25px 0px;
}
.vestidos-icons-social-black{
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}
.vestidos-icons-tear-dress{
  width: 270px;
  background-size: 270px 270px;
}
.product_in_loved{
    padding-top:100px;
}
.product_in_loved img{
    width:100%;
}
.product_in_title_loved{
    color:black !important;
    font-weight:700 !important;
    font-size:1rem;
    padding-bottom: 0px !important;
}
#popup_bgOverlay{
    display:none;
    background-color:rgba(0,0,0,0.8);
    position:absolute;
    width:100%;
    height:100%;
    z-index:99999;
}
#popup_text{
    background-color: white;
    padding:40px 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:30%;
    position: absolute;
    color:black;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.popup_close_btn_pnl{
    text-align:center;
}
.popup_close_btn{
    margin-top:30px;
}