//Sign In Page
.signin-container{
    .signin-signup-section{
        border-left:$vesti-light-bars;
    }
    a.vesti-small-link{
        color: black;
        font-size: .9rem;
    }
    .signin-login-section .form-text{
        margin-top: .9rem;
    }
}