
// Body
$body-bg: #f5f8fa;
$playfair_display:"Playfair Display";
$crimson_txt:"Crimson Text";
$main_vest_color:#87124a;
$main-vest-color-dark:#5e002e;
$main_vest_color_b:#df1174;
$main-vesti-color-light:#a76e8a;
$vesti-light-gray:#F8F8F8;
$vesti-light-bars:1px solid rgba(0,0,0,.1);
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
