
// Body
$body-bg: #f5f8fa;
$playfair_display:"Playfair Display";
$crimson_txt:"Crimson Text";
// $main_vest_color:#87124a;
// $main-vest-color-dark:#5e002e;
// $main_vest_color_b:#df1174;
$main_vest_color:#a2191d;
$main-vest-color-dark:#851a1d;
$main_vest_color_b:#a2191d;
$main-vesti-color-light:#a76e8a;
$vesti-light-gray:#F8F8F8;
$vesti-light-bars:1px solid rgba(0,0,0,.1);
$vesti-light-bars-b:1px rgba(0,0,0,.2) solid;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$vesti-msg-color-success:green;
$vesti-msg-color-error:red;
$vesti-msg-color-alert:#9e9406;
