.vest-maincolor-left,
.vest-maincolor-right{
    font-size:.97rem;
}
.nav-link{
    padding: 23px 18px !important;
}
.navbar-link{
    padding: 23px 18px !important;
    display:inline-block;
}
.navbar-link-lang{
    padding: 23px 18px !important;
    display:inline-block;

}
.navbar-link-lang:hover{
    text-decoration:none;
}
.nav-link:hover,
.navbar-link:hover{
    background-color:$main-vest-color-dark;
    text-decoration:none;
}
#vesti-navbar-top-lang span{
    font-size:.9rem;
    vertical-align:middle;
    padding-left:3px;
    font-family: "Playfair Display";
    font-style: italic;
}
.nav-item-lang:hover{
    background-color:$main-vest-color-dark;
    text-decoration:none;
}
.vesti-lang-top a{
    padding:15px 40px !important;
    display:block;
}
.vesti-lang-top a:hover{
    text-decoration:none;
    background-color:$main_vest_color;
    @include transition(0.3s);
}
.vesti-lang-top{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar-vesti-cart:hover{
    background-color:$main-vest-color-dark;
}

.nav-list-submenu{
    list-style-type:  none;
    margin:  0px;
    padding: 0px;
    position:  absolute;
    background-color:$main-vest-color-dark;
    width: 100%;
    left:  -0;

}
.nav-list-submenu ul{
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    display: inline-block;
    columns:5;
  -webkit-columns:5;
  -moz-columns:5;
}
.nav-list-submenu,
.nav-list-submenu ul{
    max-height:0;
    z-index:-1;
    display:none;
}
.nav-list-submenu li{
    text-align:center;
}
.nav-list-submenu ul li a{
    color:white;
    padding:10px 50px;
    display:inline-block;
}
.nav-list-submenu ul li a:hover{
    text-decoration:none;
    background-color:$main_vest_color;
    @include transition(0.3s);
}
.nav-toggle-li:hover{
    background-color:$main-vest-color-dark;
}
.nav-list-submenu.active,
.nav-list-submenu ul.active{
	max-height:800px;
    z-index:999;
    display:inline-block;
	-webkit-transition: max-height 0.25s ease-in;
	-moz-transition: max-height 0.25s ease-in;
	-o-transition: max-height 0.25s ease-in;
	transition: max-height 0.25s ease-in;
	-ms-transition: max-height 0.25s ease-in;
}


.nav-top-lang{
    font-size: .7rem;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    margin-right: 0px !important;
    padding: 10px .9rem!important;
}

.vestidos-main-nav .container-fluid{
    padding-right:0px;
    padding-left: 0px;
}
.vestidos-logo{
    width: 160px;
    height: 70px;
    background-size: 160px 70px;
}
.vestidos-logo-b{
    width: 242px;
    height: 190px;
    background-size: 170px 130px;
}
.vestidos-main-nav{
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 9999;
}
.vest-maincolor-container{
    width:1000px;
}
.vestidos-icons-header{
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
}
.vestidos-footer{
    padding-top:80px;
    padding-bottom:50px;
    font-family:Arial;
}
.vesti-footer-section-2{
    border-top:$main-vesti-color-light 1px solid;
    padding-top: 10px;
}
.vesti-footer-section-2 div:first-child{
    border-right:$main-vesti-color-light 1px solid;
}
.vesti-footer-section-2 .text-right img{
margin:10px 0px;
}
.vest-maincolor-right .vesti-navbar-bag{
    display:inline-block;
    margin-top: -5px !important;
}
.vest-maincolor-right .vestidos-icons-header{
    margin:0px 4px;                
}
.vesti-custom-bg{
    background-color:$main_vest_color;
    height:100vh;
}
.vesti-custom-bg .navbar-nav{
    border-top:1px solid rgba(255, 255, 255, .5);
    font-family:Arial;
    margin-top:69px;
}
.vestidos-footer .vesti-footer-section-1{
    padding: 10px 0px;
}
.vesti-footer-section-1 .footer-top-col:not(:last-child){
    text-align:left !important;
}
.vesti-footer-section-1 .footer-top-col:last-child{
    text-align:right !important;
}
.vesti-footer-section-2 .footer-bottom-col:first-child{
    text-align:center !important;
}
.vesti-footer-section-2 .footer-bottom-col:last-child{
    text-align:right !important;
}
.nav-list{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-list li a{
    color:white;
}
#vesti-custom-bottom{
    border-top:1px solid rgba(255,255,255,.1);
    margin-top:50px;
    width:80%;
}
#vesti-custom-bottom .row div{
   padding:10px 0px;
}
#vesti-custom-bottom .col:nth-child(1){
    text-align:left;
    border-right:1px solid rgba(255,255,255,.1);
}
#vesti-custom-bottom .col:nth-child(2){
    text-align:right;
}
#vesti-custom-bottom a{
   color:white;
   text-decoration:none;
   font-family:Arial;
   font-size:1rem;
   padding:10px .9rem;
}
.vesti-collapse{
    padding-bottom:10px;
}
.nav-item-lang{
    position:relative;
}
#vestidos-top-news{
    position:relative;
    background-color:black; color:white; text-align:center;
    z-index:9999;
}
/******language panel*****/
.vesti-lang-top ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}
.vesti-lang-top ul li{
    padding:10px;
}
.vesti-lang-top{
    max-height: 0;
    background-color: $main-vest-color-dark;
    color: #fff;
    position: absolute;
    right: 0px;
    top: 67px;
    z-index: -1;
    overflow: hidden;
    -webkit-transition: max-height .25s ease-out;
    transition: max-height .25s ease-out;
    -moz-transition: max-height .25s ease-out;
    -ms-transition: max-height .25s ease-out;
    -o-transition: max-height .25s ease-out;
}
.vesti-lang-top.active{
    max-height:800px;
    z-index:999;
    @include transition(max-height 0.25s ease-in);
}
/******cart panel *******/
.vesti-cart-top{
    max-height: 0px;
    background-color: white;
    color: black;
    position: absolute;
    min-width: 400px;
    right: 0;
    top: 67px;
    z-index:-1;
    border-left: $main_vest_color 1px solid;
    border-bottom: $main_vest_color 1px solid;
    border-right: $main_vest_color 1px solid;
    border-top: $main_vest_color 1px solid;
    overflow: hidden;
    @include transition(max-height 0.25s ease-out);
}
.vesti-cart-top.active{
    max-height:800px;
    z-index:999;
    @include transition(max-height 0.25s ease-in);
}
.vesti-cart-top .cart-top-items{
    margin: 10px 0px;
}
.vesti-cart-top .cart-top-items .cart-top-item-txt{
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    font-family:$playfair_display;
    font-size: .8rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.vesti-cart-top .cart-top-items .cart-top-item-txt a{
    font-family:$playfair_display;
   text-decoration:none;
   color:black;
}
.vesti-cart-top .cart-top-items .cart-top-item-txt a:hover{
   text-decoration:underline;
}
.vesti-cart-top .cart-top-items .col:nth-child(1) img{
    width: 120px;
}
.vesti-cart-top .cart-top-items .cart-top-item-txt p{
    margin:2px 0px;
}
.vesti-cart-top .cart-top-totals{
    margin: 10px auto;
    text-align: center;
    border-top: $vesti-light-bars;
    border-bottom: $vesti-light-bars;
    padding: 6px 0px;
    font-family:$playfair_display;
}
.vesti-cart-top .cart-top-buttons{
    margin: 10px 0px;
}
.vesti_in_btn_b{
    background-color:$main_vest_color;
    border:1px solid $main_vest_color;
    color: white;
    padding: 5px 0px;
    font-family:$playfair_display;
    font-style:italic;
    text-align:center;
    cursor:pointer;
    font-size:.9rem;
}
.vesti_in_btn_b:hover{
    background-color: transparent;
    color: $main_vest_color;
}
.cart-top-items:not(:first-child){
    border-top:$vesti-light-bars;
    padding: 10px 0px;
}
/*****cart top arrow***/
.vesti-cart-arrow{
    z-index: 1000;
    width: 0px;
    height: 0px;
    top: 44px;
    left: 28px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffff;
    position: absolute;
}
.vesti-cart-arrow-b{
    z-index: 998;
    width: 0px;
    height: 0px;
    top: 43px;
    left: 27px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid $main_vest_color;
    position: absolute;
}
//custom vestidos mobile scss
@import "vestidos_header_footer_mobile";