.nav-item.mobile a{
    padding:12px 18px !important;
}
.nav-item.mobile ul{
    background-color:$main-vest-color-dark;
}
.nav-item.mobile .nav-list a{
    display:block;
    padding:5px 18px !important;
}
/*************************************************/
/*           PHONE PORTRAIT                      */
/************************************************/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
    /*****************MAIN SLIDER*********************/
    #main_slider_arrow_cont{
       display:block;
    }
    #main_slider_arrow_cont{
      display:none !important;
    }
    .main_slider_in,
    .main_slider_txt{
        text-align:center;
    }
    
    #home_main_slider .container .row{
        padding:10px 0px;
    }
    #home_main_slider .main_slider_btn{
        text-align:center
    }
    #home_main_slider .slide{
        position:relative;
    }
    #home_main_slider .text-cont{
        position: absolute;
        bottom:50px !important;
    }
    .main_slider_txt span:nth-child(3), 
    .main_slider_txt span:nth-child(1) {
        font-size: 2.5rem !important;
        color: white;
        text-shadow: 0px 2px 8px black;
    }
    #home_main_slider .slide{
        position:relative;
    }
    .btn-vesti-slide{
        border: 1px solid $main_vest_color;
        padding: 10px 80px;
        font-size: 1.5rem;
        margin: 20px 0;
        background-color: $main_vest_color;
        color:white;
    }

   /****************HOME PAGE *****************/
    #top_middle_img1 img,
    #top_middle_img2 img,
    #top_middle_img3 img{
        width:100%;
    }
    .brands_img img,
   .quince_img img{
       width:100%;
   }
   .brands_img img,
   .quince_img img{
       display:block;
   }
    #brands_section{
        background-image:none;
    }
    #fp-nav, .fp-controlArrow{
        display:none !important;
    }
    #brands_section .brands_txt div:last-child{
        text-align:center;
    }

    #top_middle_sec{
        padding-top: 26px;
    }
    #top_middle_sec .intro .row > div{
        padding:0px !important;
    }
    .top_middle_sec_title2{
        font-size:1rem;
        line-height:2rem;
    }
    #top_middle_sec_row{
        position:relative;
        height:auto;
    }
    #top_middle_sec_row #top_middle_img1,
    #top_middle_sec_row #top_middle_img2,
    #top_middle_sec_row #top_middle_img3{
        position:relative;
        top:0px;
        left:0px !important;

        -webkit-transition: left 1s;
        -moz-transition: left 1s;
        -o-transition: left 1s;
        transition: left 1s;
    }
    .top_middle_sec_title{
        font-size:2rem;
    }
    #brands_section .fp-tableCell,
    #quince_main .fp-tableCell{
        min-height: 500px !important;
        height: auto !important;
    }
    #brands_section > div,
    #quince_main > div{
        vertical-align: top;
    }
    #brands_section,
    #quince_main{
        height:auto !important;
    }
    #brands_section .brands_txt div:first-child{
        font-size:2rem;
    }
    #brands_section .brands_txt div:last-child{
        font-size:1rem;
    }
    .quince-select-title{
        font-size:2rem;
    }
    #quince_main .quince_txt div:first-child{
        font-size:2rem;
    }
    #quince_main .quince_txt div:last-child{
        font-size:1rem;
    }
 
    #top_middle_sec .intro .row > div{
        padding:0px !important;
    }
    #top_middle_img1,
    #top_middle_img2,
    #top_middle_img3{
        margin:10px auto;
        width:auto;
    }


  /***********ABOUT PAGE**************/
    .col-lg-9{
        padding:0px;
    }
    .container-in-space{
        width:auto !important;
        margin: 50px auto 0px auto !important;
    }
  /*********** CART PAGE **************/
    .cart-container-in h2{
        position:static;
    }
    .cart-container-in .cart-item-header{
        display:none;
    }
    .cart-container-in .cart-item-img{
        width:100%;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p{
        line-height: 1rem;
    }
    .vesti-cart-quantity-input{
        border:none;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p:not(:first-child){
        line-height: 1rem;
        margin: 5px 0px;
    }

    /*****************USER ACCOUNT**************/
    #user-account-menu{
        display:none;
    }


}
/*************************************************/
/*          IPAD PORTRAIT                       */
/************************************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

   /************USER ACOUNT ************/
        #user-body .white-md-bg-in{
        padding:50px 0px;
    }

    /**********ORDER VIEW********************/
    .view-order-top-list li{
        font-size:.8rem;
    }

    /**********MAIN SLIDER*****************/

    .main_slider_in{
        text-align:center;
    }
    .main_slider_btn{
        text-align:center;
    }
    .main_slider_txt{
        text-align:center;
    }

    .btn-vesti-slide {
        border: 1px solid $main_vest_color;
        padding: 10px 80px;
        font-size: 1.5rem;
        margin: 20px 0;
        background-color: $main_vest_color;
        color: white;
    }

    .btn-vesti-slide:hover{
        border:1px solid $main_vest_color;
        background-color:white;
        color:$main_vest_color;
    }
    #home_main_slider .text-cont{
        position: absolute;
        bottom: 200px;
        font-size: 3rem;
        color: white;
    }
    .main_slider_txt span:nth-child(3), 
    .main_slider_txt span:nth-child(1) {
        font-size: 3rem;
        color: white;
        text-shadow: 0px 2px 8px black;
    }

    /***************HOME PAGE*****************/
    #brands_section{
        background-position-x: -450px;
    }
     #top_middle_sec_row #top_middle_img1{
     left:0px;
     }
     #top_middle_sec_row #top_middle_img2{
     left:240px;
     }
     #top_middle_sec_row #top_middle_img3{
     left:478px;
     }
     #top_middle_sec_row {
        height: 400px;
    }
    #brands_section .brands_txt div:last-child {
        text-align: right;
        max-width: 548px;
    }
    #quince_main {
        background-position-x: -500px;
    }
}
/*************************************************/
/*          IPAD LANDSCAPE                       */
/************************************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    #brands_section{
        background-position-x: -200px;
    }
    #brands_section .brands_txt div:first-child {
        font-size: 3rem;
    }
    #brands_section .text-left .brands_txt{
    text-align: left!important;
    margin-left: 300px;
    }
    #brands_section .brands_txt div:last-child {
    font-size: 1.5rem;
    }
    #top_middle_sec{
        margin:50px 0px;
    }
    #top_middle_sec_row{
        height:550px;
    }

    #top_middle_sec_row #top_middle_img1.active{
     left:0px;
     }
     #top_middle_sec_row #top_middle_img2.active{
     left:320px;
     }
     #top_middle_sec_row #top_middle_img3.active{
     left:640px;
     }

     
}
/*************************************************/
/*          IPHONE LANDSCAPE                     */
/************************************************/
@media only screen and (max-device-width: 812px) and (orientation: landscape) {

    /**************MAIN SLIDER**************/
    #home_main_slider .text-cont{
        max-width:100% !important;
    }
    #main_slider_arrow_cont{
        display:none;
    }
    .main_slider_txt{
     padding-top: 20px;
    }
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
        display:none;
    }

    #home_main_slider .fp-tableCell{
     vertical-align: middle;
    }
    #home_main_slider .main_slider_btn{
     text-align: center;
    }
    #home_main_slider .container .main_slider_txt span:nth-child(1),
    #home_main_slider .container .main_slider_txt span:nth-child(3){
     font-size: 2rem !important;
    }
    #home_main_slider .container .main_slider_txt .main_slider_in{
     padding-right: 33px;
    }
    .slide-slide{
        background-position: top center;
       }
    .btn-vesti-slide{
     padding: 5px 53px;
     font-size: 1rem;
    }

    /************HOME PAGE *************/
    #quince_main {
    background-image:none;
}
    #top_middle_sec #top_middle_sec_row img{
        width:220px;
    }
    #top_middle_sec .container{
        max-width:770px;
    }
    #top_middle_sec #top_middle_sec_row{
     height: 381px;
    }
     #top_middle_sec_row #top_middle_img1{
     left:0px;
     }
     #top_middle_sec_row #top_middle_img2{
     left:240px;
     }
     #top_middle_sec_row #top_middle_img3{
     left:478px;
     }
     #top_middle_sec_row .vesti-heart-link{
         right: 8px;
     }
     #top_middle_sec_row .vesti-new-txt-a, 
     #quince_selec_sec .vesti-new-txt-a {
        font-size: .8rem;
        top: 12px !important;
        left: 9px !important;
    }
     #top_middle_sec_row .vesti-new-border-a,
     #quince_selec_sec .vesti-new-border-a{
         border-top: 70px solid $main_vest_color;
         border-right: 70px solid transparent;
     }
     #fp-nav{
         display:none
     }
     #top_middle_sec .top_middle_sec_title2{
         font-size: 1.6rem;
     }
     .brands_txt > div,
     .quince_txt > div{
         max-width: 412px;
     }
     .brands_txt>div{
         margin-left: auto !important;
     }
     #brands_section .brands_txt div:first-child,
     #quince_main .quince_txt div:first-child{
         font-size: 2rem;
         text-align: left;
     }
     #quince_main,
     #brands_section{
         padding-bottom:20px !important;
     }
     #brands_section .brands_txt div:last-child,
     #quince_main .quince_txt div:last-child{
         font-size: 1rem;
     }
     #quince_selec_sec .quince-select-title{
         font-size: 2rem;
     }
     /***********ABOUT PAGE**************/
    .col-lg-9{
        padding:0px;
    }
    .container-in-space{
        width:auto !important;
        margin: 50px auto 0px auto !important;
    }
    /**** CART PAGE *****/
      .cart-container-in h2{
        position:static;
    }
    .cart-container-in .cart-item-img{
        width:100%;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p{
        line-height: 1rem;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p:not(:first-child){
        line-height: 1rem;
        margin: 5px 0px;
    }
    /*****************USER ACCOUNT**************/
    #user-account-menu{
        display:none;
    }

 }
 
/*************************************************/
/*  IPHONE 6,7,8  LANDSCAPE                      */
/************************************************/
@media only screen 
and (min-device-width:375px) 
and (max-device-width:667px) 
and (orientation:landscape){
    /**************MAIN SLIDER**************/
    #home_main_slider .text-cont{
        position: absolute;
        bottom: 0px!important;
        max-width:100% !important;
    }
    #main_slider_arrow_cont{
        display:none;
    }
    .main_slider_txt{
     padding-top: 20px;
    }
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
        display:none;
    }
    .main_slider_in, .main_slider_txt {
        text-align: center;
    }
    #home_main_slider .fp-tableCell{
     vertical-align: middle;
    }
    #home_main_slider .main_slider_btn{
     text-align: center;
    }
    #home_main_slider .container .main_slider_txt span:nth-child(1),
    #home_main_slider .container .main_slider_txt span:nth-child(3){
     font-size: 2rem !important;
     color: #fff;
    text-shadow: 0 2px 8px #000;
    }
    #home_main_slider .container .main_slider_txt .main_slider_in{
     padding-right: 33px;
    }
    .slide-slide{
        background-position: top center;
    }
    .btn-vesti-slide {
        border: 1px solid $main_vest_color_b;
        padding: 10px 80px;
        font-size: .8rem;
        margin: 20px 0;
        background-color: $main_vest_color_b;
        color: #fff;
    }
    /************HOME PAGE *************/
    #quince_main {
    background-image:none;
}
    #top_middle_sec #top_middle_sec_row img{
        width:220px;
    }
    .brands_img img, .quince_img img {
    display: block;
}
    #top_middle_sec .container{
        max-width:770px;
    }
    #top_middle_sec #top_middle_sec_row{
     height: 381px;
    }
     #top_middle_sec_row #top_middle_img1{
     left:0px;
     }
     #top_middle_sec_row #top_middle_img2{
     left:220px;
     }
     #top_middle_sec_row #top_middle_img3{
     left:440px;
     }
     #top_middle_sec_row .vesti-heart-link{
         right: 29px;
     }
     
     #top_middle_sec_row .vesti-new-txt-a,
    #quince_selec_sec .vesti-new-txt-a {
        top: 16px !important;
        left: 25px !important;
    }
     #top_middle_sec_row .vesti-new-border-a,
     #quince_selec_sec .vesti-new-border-a{
         border-top: 70px solid $main_vest_color;
         border-right: 70px solid transparent;
     }
     #fp-nav{
         display:none
     }
     #top_middle_sec .top_middle_sec_title2{
         font-size: 1.6rem;
     }
     .brands_txt > div,
     .quince_txt > div{
         max-width: 412px;
     }
     .brands_txt>div{
         margin-left: auto !important;
     }
     #brands_section .brands_txt div:first-child,
     #quince_main .quince_txt div:first-child{
         font-size: 2rem;
         text-align: left;
     }
     #quince_main,
     #brands_section{
         padding-bottom:20px !important;
        background-image: none;
     }
     #brands_section .brands_txt div:last-child,
     #quince_main .quince_txt div:last-child{
         font-size: 1rem;
     }
     #quince_selec_sec .quince-select-title{
         font-size: 2rem;
     }
     /***********ABOUT PAGE**************/
    .col-lg-9{
        padding:0px;
    }
    .container-in-space{
        width:auto !important;
        margin: 50px auto 0px auto !important;
    }
    /**** CART PAGE *****/
      .cart-container-in h2{
        position:static;
    }
    .cart-container-in .cart-item-img{
        width:100%;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p{
        line-height: 1rem;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p:not(:first-child){
        line-height: 1rem;
        margin: 5px 0px;
    }
    /*****************USER ACCOUNT**************/
    #user-account-menu{
        display:none;
    }
}
/*************************************************/
/*  IPHONE 6,7,8  PORTRAIT                      */
/************************************************/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation : portrait) {
    /********MAIN SLIDER************/
    #main_slider_arrow_cont{
       display:block;
    }
    #main_slider_arrow_cont{
      display:none !important;
    }
    .main_slider_in,
    .main_slider_txt{
        text-align:center;
    }
    
    #home_main_slider .container .row{
        padding:10px 0px;
    }
    #home_main_slider .main_slider_btn{
        text-align:center
    }
    #home_main_slider .slide{
        position:relative;
    }
    #home_main_slider .text-cont{
        position: absolute;
        bottom:50px !important;
    }
    .main_slider_txt span:nth-child(3), 
    .main_slider_txt span:nth-child(1) {
        font-size: 2.5rem !important;
        color: white;
        text-shadow: 0px 2px 8px black;
    }
    #home_main_slider .slide{
        position:relative;
    }
    .btn-vesti-slide{
        border: 1px solid $main_vest_color;
        padding: 10px 80px;
        font-size: 1.5rem;
        margin: 20px 0;
        background-color: $main_vest_color;
        color:white;
    }

   /****************HOME PAGE *****************/
   .vesti-new-txt-a {
        font-size: 1rem;
        top: 31px;
        left: 13px;
    }
    #top_middle_img1 img,
    #top_middle_img2 img,
    #top_middle_img3 img{
        width:100%;
    }
    .brands_img img,
   .quince_img img{
       width:100%;
   }
   .brands_img img,
   .quince_img img{
       display:block;
   }
    #brands_section{
        background-image:none;
    }
    #fp-nav, .fp-controlArrow{
        display:none !important;
    }
    #brands_section .brands_txt div:last-child{
        text-align:center;
    }

    #top_middle_sec{
        padding-top: 26px;
    }
    #top_middle_sec .intro .row > div{
        padding:0px !important;
    }
    .top_middle_sec_title2{
        font-size:1rem;
        line-height:2rem;
    }
    #top_middle_sec_row{
        position:relative;
        height:auto;
    }
    #top_middle_sec_row #top_middle_img1,
    #top_middle_sec_row #top_middle_img2,
    #top_middle_sec_row #top_middle_img3{
        position:relative;
        top:0px;
        left:0px !important;

        -webkit-transition: left 1s;
        -moz-transition: left 1s;
        -o-transition: left 1s;
        transition: left 1s;
    }
    .top_middle_sec_title{
        font-size:2rem;
    }
    #brands_section .fp-tableCell,
    #quince_main .fp-tableCell{
        min-height: 500px !important;
        height: auto !important;
    }
    #brands_section > div,
    #quince_main > div{
        vertical-align: top;
    }
    #brands_section,
    #quince_main{
        height:auto !important;
    }
    #brands_section .brands_txt div:first-child{
        font-size:2rem;
    }
    #brands_section .brands_txt div:last-child{
        font-size:1rem;
    }
    .quince-select-title{
        font-size:2rem;
    }
    #quince_main .quince_txt div:first-child{
        font-size:2rem;
    }
    #quince_main .quince_txt div:last-child{
        font-size:1rem;
    }
 
    #top_middle_sec .intro .row > div{
        padding:0px !important;
    }
    #top_middle_img1,
    #top_middle_img2,
    #top_middle_img3{
        margin:10px auto;
        width:auto;
    }


  /***********ABOUT PAGE**************/
    .col-lg-9{
        padding:0px;
    }
    .container-in-space{
        width:auto !important;
        margin: 50px auto 0px auto !important;
    }
  /*********** CART PAGE **************/
    .cart-container-in h2{
        position:static;
    }
    .cart-container-in .cart-item-header{
        display:none;
    }
    .cart-container-in .cart-item-img{
        width:100%;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p{
        line-height: 1rem;
    }
    .vesti-cart-quantity-input{
        border:none;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p:not(:first-child){
        line-height: 1rem;
        margin: 5px 0px;
    }

    /*****************USER ACCOUNT**************/
    #user-account-menu{
        display:none;
    }
    .view-order-top-list li:not(:first-child) {
        border-left:none;
        padding: 5px 0px;
    }
}
/*************************************************/
/*      IPHONE X PORTRAIT                      */
/************************************************/
@media only screen 
and (min-device-width : 375px)
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  
    .vesti-new-txt-a {
        font-size: 1rem;
        top: 25px;
        left: 27px;
    }
}
/*************************************************/
/*      IPHONE X LANDSCAPE                        */
/************************************************/
@media only screen 
and (min-device-width : 737px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
     /*****************USER ACCOUNT**************/
     #user-account-menu{
        display:block;
    }

   /**************MAIN SLIDER**************/
   #top_middle_sec_row .vesti-new-txt-a, #quince_selec_sec .vesti-new-txt-a {
        top: 12px !important;
        left: 9px !important;
    }
    #home_main_slider .text-cont{
        max-width:100% !important;
    }
    #main_slider_arrow_cont{
        display:none;
    }
    .main_slider_txt{
     padding-top: 20px;
    }
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
        display:none;
    }

    #home_main_slider .fp-tableCell{
     vertical-align: middle;
    }
    #home_main_slider .main_slider_btn{
     text-align: center;
    }
    #home_main_slider .container .main_slider_txt span:nth-child(1),
    #home_main_slider .container .main_slider_txt span:nth-child(3){
     font-size: 2rem !important;
    }
    #home_main_slider .container .main_slider_txt .main_slider_in{
     padding-right: 33px;
    }
    .slide-slide{
        background-position: top center;
       }
    .btn-vesti-slide{
     padding: 5px 53px;
     font-size: 1rem;
    }

  /****************HOME PAGE *****************/
  .btn{
        font-size:.8rem;
    }
  #quince_selec_sec 
  .vesti-new-txt-a, 
  #top_middle_sec_row 
  .vesti-new-txt-a {
        top: 14px!important;
        left: 25px!important;
    }
  #top_middle_img1 img,
    #top_middle_img2 img,
    #top_middle_img3 img{
        width:100%;
    }
    .brands_img img,
   .quince_img img{
       width:100%;
   }
   .brands_img img,
   .quince_img img{
       display:block;
   }
   .brands_txt>div {
        margin: 0px auto !important;
    }
    .quince_txt,
    .quince_txt>div{
        margin: 0px auto !important;
    }
    #brands_section{
        background-image:none;
    }
    #fp-nav, .fp-controlArrow{
        display:none !important;
    }
    #brands_section .brands_txt div:last-child{
        text-align:center;
    }

    #top_middle_sec{
        padding-top: 26px;
    }
    #top_middle_sec .intro .row > div{
        padding:0px !important;
    }
    .top_middle_sec_title2{
        font-size:1rem;
        line-height:2rem;
    }
    #top_middle_sec_row{
        position:relative;
        height:auto;
    }
    #top_middle_sec_row #top_middle_img1,
    #top_middle_sec_row #top_middle_img2,
    #top_middle_sec_row #top_middle_img3{
        position:relative;
        top:0px;
        left:0px !important;

        -webkit-transition: left 1s;
        -moz-transition: left 1s;
        -o-transition: left 1s;
        transition: left 1s;
    }
    .top_middle_sec_title{
        font-size:2rem;
    }
    #brands_section .fp-tableCell,
    #quince_main .fp-tableCell{
        min-height: 500px !important;
        height: auto !important;
    }
    #brands_section > div,
    #quince_main > div{
        vertical-align: top;
    }
    #brands_section,
    #quince_main{
        height:auto !important;
    }
    #brands_section .brands_txt div:first-child{
        font-size:2rem;
    }
    #brands_section .brands_txt div:last-child{
        font-size:1rem;
    }
    .quince-select-title{
        font-size:2rem;
    }
    #quince_main .quince_txt div:first-child{
        font-size:2rem;
    }
    #quince_main .quince_txt div:last-child{
        font-size:1rem;
    }
 
    #top_middle_sec .intro .row > div{
        padding:0px !important;
    }
    #top_middle_img1,
    #top_middle_img2,
    #top_middle_img3{
        margin:10px auto;
        width:auto;
    }


     /***********ABOUT PAGE**************/
    .col-lg-9{
        padding:0px;
    }
    .container-in-space{
        width:auto !important;
        margin: 50px auto 0px auto !important;
    }
    /**** CART PAGE *****/
      .cart-container-in h2{
        position:static;
    }
    .cart-container-in .cart-item-img{
        width:100%;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p{
        line-height: 1rem;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p:not(:first-child){
        line-height: 1rem;
        margin: 5px 0px;
    }
}
/*************************************************/
/*  IPHONE 6,7,8 +  LANDSCAPE                    */
/************************************************/
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (-webkit-min-device-pixel-ratio : 3) 
    and (orientation : landscape)
{ 
 /*****************USER ACCOUNT**************/
    #user-account-menu{
        display:none;
    }
    /*****MAIN PAGE************/
    #quince_selec_sec .vesti-new-txt-a {
        top: 16px!important;
        left: 21px!important;
    }
    #top_middle_sec_row .vesti-new-txt-a {
        top: 16px!important;
        left: 10px!important;
    }
    #top_middle_sec_row .vesti-heart-link {
        right: 30px;
    }
}

/*************************************************/
/*      IPHONE 5 LANDSCAPE                       */
/************************************************/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation:landscape){

    /**************MAIN SLIDER**************/
    .col-12 {
        -ms-flex: 0 0 33.33333333%;
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
    #home_main_slider .text-cont{
        position: absolute;
        bottom: 0px!important;
        max-width:100% !important;
    }
    #main_slider_arrow_cont{
        display:none;
    }
    .main_slider_txt{
     padding-top: 20px;
    }
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
        display:none;
    }
    .main_slider_in, .main_slider_txt {
        text-align: center;
    }
    #home_main_slider .fp-tableCell{
     vertical-align: middle;
    }
    #home_main_slider .main_slider_btn{
     text-align: center;
    }
    #home_main_slider .container .main_slider_txt span:nth-child(1),
    #home_main_slider .container .main_slider_txt span:nth-child(3){
     font-size: 2rem !important;
     color: #fff;
    text-shadow: 0 2px 8px #000;
    }
    #home_main_slider .container .main_slider_txt .main_slider_in{
     padding-right: 33px;
    }
    .slide-slide{
        background-position: top center;
    }
    .btn-vesti-slide {
        border: 1px solid $main_vest_color_b;
        padding: 10px 80px;
        font-size: .8rem;
        margin: 20px 0;
        background-color: $main_vest_color_b;
        color: #fff;
    }
    /************HOME PAGE *************/
    #quince_main {
    background-image:none;
}
    #top_middle_sec #top_middle_sec_row img{
        width:220px;
    }
    .brands_img img, .quince_img img {
        display: block;
    }
    #top_middle_sec .container{
        max-width:770px;
    }
    #top_middle_sec #top_middle_sec_row{
     height: 381px;
    }
     #top_middle_sec_row #top_middle_img1{
     left:0px;
     }
     #top_middle_sec_row #top_middle_img2{
     left:190px !important;
     }
     #top_middle_sec_row #top_middle_img3{
     left:376px !important;
     }
     #top_middle_sec_row .vesti-heart-link{
         right: 29px;
     }
     
     #top_middle_sec_row .vesti-new-txt-a,
    #quince_selec_sec .vesti-new-txt-a {
        top: 16px !important;
        left: 25px !important;
    }
     #top_middle_sec_row .vesti-new-border-a,
     #quince_selec_sec .vesti-new-border-a{
         border-top: 70px solid $main_vest_color;
         border-right: 70px solid transparent;
     }
     #fp-nav{
         display:none
     }
     #top_middle_sec .top_middle_sec_title2{
         font-size: 1.6rem;
     }
     .brands_txt > div,
     .quince_txt > div{
         max-width: 412px;
     }
     .brands_txt>div{
         margin-left: auto !important;
     }
     #brands_section .brands_txt div:first-child,
     #quince_main .quince_txt div:first-child{
         font-size: 2rem;
         text-align: left;
     }
     #quince_main,
     #brands_section{
         padding-bottom:20px !important;
        background-image: none;
     }
     #brands_section .brands_txt div:last-child,
     #quince_main .quince_txt div:last-child{
         font-size: 1rem;
     }
     #quince_selec_sec .quince-select-title{
         font-size: 2rem;
     }
     /***********ABOUT PAGE**************/
    .col-lg-9{
        padding:0px;
    }
    .container-in-space{
        width:auto !important;
        margin: 50px auto 0px auto !important;
    }
    /**** CART PAGE *****/
      .cart-container-in h2{
        position:static;
    }
    .cart-container-in .cart-item-img{
        width:100%;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p{
        line-height: 1rem;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p:not(:first-child){
        line-height: 1rem;
        margin: 5px 0px;
    }
    /*****************USER ACCOUNT**************/
    #user-account-menu{
        display:none;
    }
}
/*************************************************/
/*      IPHONE 5 PORTRAIT                        */
/************************************************/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation:portrait){
 /********MAIN SLIDER************/
 #main_slider_arrow_cont{
       display:block;
    }
    #main_slider_arrow_cont{
      display:none !important;
    }
    .main_slider_in,
    .main_slider_txt{
        text-align:center;
    }
    
    #home_main_slider .container .row{
        padding:10px 0px;
    }
    #home_main_slider .main_slider_btn{
        text-align:center
    }
    #home_main_slider .slide{
        position:relative;
    }
    #home_main_slider .text-cont{
        position: absolute;
        bottom:50px !important;
    }
    .main_slider_txt span:nth-child(3), 
    .main_slider_txt span:nth-child(1) {
        font-size: 2.5rem !important;
        color: white;
        text-shadow: 0px 2px 8px black;
    }
    #home_main_slider .slide{
        position:relative;
    }
    .btn-vesti-slide{
        border: 1px solid $main_vest_color;
        padding: 10px 80px;
        font-size: 1.5rem;
        margin: 20px 0;
        background-color: $main_vest_color;
        color:white;
    }

   /****************HOME PAGE *****************/
   .vesti-new-txt-a {
        font-size: 1rem;
        top: 31px;
        left: 13px;
    }
    #top_middle_img1 img,
    #top_middle_img2 img,
    #top_middle_img3 img{
        width:100%;
    }
    .brands_img img,
   .quince_img img{
       width:100%;
   }
   .brands_img img,
   .quince_img img{
       display:block;
   }
    #brands_section{
        background-image:none;
    }
    #fp-nav, .fp-controlArrow{
        display:none !important;
    }
    #brands_section .brands_txt div:last-child{
        text-align:center;
    }

    #top_middle_sec{
        padding-top: 26px;
    }
    #top_middle_sec .intro .row > div{
        padding:0px !important;
    }
    .top_middle_sec_title2{
        font-size:1rem;
        line-height:2rem;
    }
    #top_middle_sec_row{
        position:relative;
        height:auto;
    }
    #top_middle_sec_row #top_middle_img1,
    #top_middle_sec_row #top_middle_img2,
    #top_middle_sec_row #top_middle_img3{
        position:relative;
        top:0px;
        left:0px !important;

        -webkit-transition: left 1s;
        -moz-transition: left 1s;
        -o-transition: left 1s;
        transition: left 1s;
    }
    .top_middle_sec_title{
        font-size:2rem;
    }
    #brands_section .fp-tableCell,
    #quince_main .fp-tableCell{
        min-height: 500px !important;
        height: auto !important;
    }
    #brands_section > div,
    #quince_main > div{
        vertical-align: top;
    }
    #brands_section,
    #quince_main{
        height:auto !important;
    }
    #brands_section .brands_txt div:first-child{
        font-size:2rem;
    }
    #brands_section .brands_txt div:last-child{
        font-size:1rem;
    }
    .quince-select-title{
        font-size:2rem;
    }
    #quince_main .quince_txt div:first-child{
        font-size:2rem;
    }
    #quince_main .quince_txt div:last-child{
        font-size:1rem;
    }
 
    #top_middle_sec .intro .row > div{
        padding:0px !important;
    }
    #top_middle_img1,
    #top_middle_img2,
    #top_middle_img3{
        margin:10px auto;
        width:auto;
    }


  /***********ABOUT PAGE**************/
    .col-lg-9{
        padding:0px;
    }
    .container-in-space{
        width:auto !important;
        margin: 50px auto 0px auto !important;
    }
  /*********** CART PAGE **************/
    .cart-container-in h2{
        position:static;
    }
    .cart-container-in .cart-item-header{
        display:none;
    }
    .cart-container-in .cart-item-img{
        width:100%;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p{
        line-height: 1rem;
    }
    .vesti-cart-quantity-input{
        border:none;
    }
    .cart-item-items .cart-item-1 .col:nth-child(2) div p:not(:first-child){
        line-height: 1rem;
        margin: 5px 0px;
    }

    /*****************USER ACCOUNT**************/
    #user-account-menu{
        display:none;
    }
    .view-order-top-list li:not(:first-child) {
        border-left:none;
        padding: 5px 0px;
    }
}