.submenu-panel ul{
    @include colum-gab(4,20px);
    list-style-type:none;
}
div.submenu-panel .col{
    margin:20px 0px;
}
div.submenu-panel .col a{
    color:white;
    text-decoration:none;
}
div.submenu-panel .col a:hover{
    text-decoration:underline;
}
.vest-maincolor-right li{
    margin:0px 10px;
}
.vest-maincolor .nav-link,
.vest-maincolor .navbar-link{
    font-size:1rem;
    padding-right:0 !important;
    padding-left:0 !important;
}
.vest-maincolor-container{
    width:965px;
}
.vestidos-icons-header{
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
}
.vest-maincolor-right a{
    display:inline-block;
    padding:3px 2px;
}
.vest-maincolor-right img{
    display:inline-block;
    /* vertical-align: top; */
    margin-top: -5px !important;
}
.vest-maincolor-right .vestidos-icons-header{
    margin:0px 4px;                
}
.vesti-custom-bg{
    background-color:$main_vest_color;
    height:100vh;
}
.vesti-custom-bg .navbar-nav{
    border-top:1px solid rgba(255, 255, 255, .5);
    font-family:Arial;
    margin-top:50px;
}
.nav-list{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-list li a{
    color:white;
}
/* #vesti-custom-bottom{
    position:absolute; bottom:50px; width:100%;
} */
#vesti-custom-bottom{
    border-top:1px solid rgba(255,255,255,.1);
    margin-top:50px;
    width:80%;
}
#vesti-custom-bottom .row div{
   padding:10px 0px;
}
#vesti-custom-bottom .col:nth-child(1){
    text-align:left;
    border-right:1px solid rgba(255,255,255,.1);
}
#vesti-custom-bottom .col:nth-child(2){
    text-align:right;
}
#vesti-custom-bottom a{
   color:white;
   text-decoration:none;
   font-family:Arial;
   font-size:1rem;
   padding:10px .9rem;
}
.vesti-collapse{
    padding-bottom:10px;
}
.nav-item{
    padding:0px .9rem;
}
.vest-maincolor-left .nav-item{
    padding:4px .9rem;
}
.vest-maincolor-right .nav-item{
    padding:9px .9rem;
}
.vest-maincolor-left > .nav-item:hover,
.vest-maincolor-right > .nav-item:hover{
    background-color:$main-vest-color-dark;
    @include transition(background-color .2s ease-in-out);
}
.nav-item.hover{
    background-color: $main_vest_color_dark;
}
.submenu-panel.open{
    top:70px;
}
.submenu-panel{
    min-height: 150px;
    position:absolute;
    top:-5000px;
    left:0px;
    width:100%;
    z-index: 999;
    background-color: $main_vest_color_dark;
    color:white;
    @include transition(top .4s ease-in-out);
}
#vestidos-top-news{
    position:relative;
    background-color:black; color:white; text-align:center;
    z-index:9999;
}