/* playfair-display-regular - latin */
// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
/****default scroll bar***/
/* width */
.grecaptcha-badge {
    display: none !important;
}
.vesti-search-cont ::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.vesti-search-cont ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .1);
}
/* Handle */
.vesti-search-cont ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3)
}
.disabled-btn{
  background:gray !important;
  border:gray !important;
  cursor:auto !important;
}
.warning-cont{
  width: 50%;
  margin: 10px auto;
  padding: 10px 40px;
  border: 1px solid $vesti-light-bars-b;
}
.desktop-view{
  display:block;
}
.mobile-view{
  display:none;
}
.warning-cont .title{
  font-weight:bold;
}
.hide{
  display:none;
}
.error{
  color:red;
}
.stock{
  color:green;
}
.out-stock{
  color:red;
}
body{
  background-color:white;
}
body,html{
  height: 100%;
  margin: 0;
}
#main-body{
  display:none;
}
.main_body_height{
    min-height: -webkit-calc(100% - 100px);     /* Chrome */
    min-height: -moz-calc(100% - 100px);     /* Firefox */
    min-height: calc(100% - 100px);     /* native */
}
.playfair-display{
  font-family:$playfair_display;
  font-weight: 400;
}
.playfair-display-italic{
  font-family:$playfair_display;
  font-weight: 400;
  font-style: italic;
}
.playfair-display-bold{
  font-family:$playfair_display;
  font-weight: 700;
}
.playfair-display-bold-italic{
  font-family:$playfair_display;
  font-weight: 700;
  font-style: italic;
}
.playfair-display-black{
  font-family:$playfair_display;
  font-weight: 900;
}
.playfair-display-black-italic{
  font-family:$playfair_display;
  font-weight: 900;
  font-style: italic;
}

.crimson-txt{
  font-family:$crimson_txt;
  font-weight: 400;
}
.crimson-txt-italic{
  font-family:$crimson_txt;
  font-weight: 400;
  font-style: italic;
}
.crimson-txt-bold{
  font-family:$crimson_txt;
  font-weight: 700;
}
.crimson-txt-bold-italic{
  font-family:$crimson_txt;
  font-weight: 700;
  font-style: italic;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-vesti-cart{
  position: relative;
}
.vest-maincolor{
	background-color:$main_vest_color;
	color:white;
}
.vest-maintxtcolor{
	background-color:$main_vest_color;
}
.white-border-bg{
  border-color:white;
}
// #fullpage{
//   margin-top:50px;
// }
// #slide1,
// #slide2,
// #slide3{
//   background-position: center center;
// }
.slide-slide{
  background-position: center center;
}
// #slide1{
//   background-image: url(/images/vestidos_slide1.jpg);
// }
// #slide2{
//   background-image: url(/images/vestidos_slide3.jpg);
// }
// #slide3{
//   background-image: url(/images/vestidos_slide2.jpg);
// }
.section{
background-size: cover;
}
.slide{
background-size: cover;
}
.home_bg_2{
  background:url('/images/home_main_img2.jpg') no-repeat top center;
  background-size:1551px 752px;
  height:752px;
}
.home_w100{
  max-width:100% !important;
}
.gray_bg{
  background-color:#dfdfe1;
}
.vector-excla{
  width:70px;
}
.vector-excla path{
  fill:$main_vest_color;
}
/***white arrow cont***/
.main_arrow_slider_txt{
    width: 200px;
    position:absolute;
    text-align: center;
    font-family:Arial;
    color:white;
    font-size:1.5rem;
    line-height:1rem;
    bottom:1%; left: 50%;
    margin-left:-100px;
    // @include transform-traslate(-50%,-50%);
      z-index:999;
}
#home_main_slider .vesti-down-arrow{
    width: 100px;
    height: 100px;
    background-image: url('/images/ves-down-arrow.svg');
    background-size: 100px 100px;
}
.vesti_font_color_a{
  color:$main_vest_color;
}
.vesti_font_color_b{
  color:$main_vest_color_b;
}
.vesti-svg{
    margin: 0px auto;
    display:inline-block;
    background-repeat:no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align:middle;
}
.vestidos-icons-payment{
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}
.vestidos-icons-social{
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}
.vestidos-icons-social-b{
    width: 30px;
    height: 23px;
    background-size: 30px 23px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-light .navbar-toggler {
  color: rgb(255, 255, 255);
  border: none;
}
/***manu button***/
#vesti-main-nav-btn{
  width: 35px;
  height: 28px;
  position: relative;
}
#vesti-main-nav-btn span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  @include transform-rotate(0deg);
  @include transition(.25s ease-in-out);
}

#vesti-main-nav-btn span:nth-child(1) {
  top: 0px;
}
#vesti-main-nav-btn span:nth-child(2),#vesti-main-nav-btn span:nth-child(3) {
  top: 12px;
}
#vesti-main-nav-btn span:nth-child(4) {
  top: 25px;
}
#vesti-main-nav-btn.open span:nth-child(1),
#vesti-main-nav-btn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#vesti-main-nav-btn.open span:nth-child(2) {
  @include transform-rotate(45deg);
}
#vesti-main-nav-btn.open span:nth-child(3) {
  @include transform-rotate(-45deg);
}

.top_middle_sec_title{
  font-family:$playfair_display;
  font-weight: 400;
  font-style: italic;
  color:black;
  text-align:center;
  font-size:2.5rem;
  padding:10px 0px;
}
.top_middle_sec_title2{
  font-family:$playfair_display;
  font-weight: 400;
  font-style: italic;
  color:black;
  text-align:center;
  font-size:2.6rem;
  padding:10px 0px;
  line-height: 3rem;
}
.top_middle_sec_title2 blockquote{
  font-size: 2.6rem;
}
#brands_section blockquote{
  font-size: 2rem;
}
#brands_section .col:nth-child(2){
  text-align:center;
  top:50%;
}
#brands_section .brands_txt div:first-child{
  font-size:4rem;
  font-family:$playfair_display;
  font-weight:700;
}
#brands_section .brands_txt div:last-child{
  font-size:2rem;
  font-family:$playfair_display;
  font-weight:400;
}
.brands_txt > div{
  max-width:600px;
  // margin-left: 200px;
  margin-left: 400px;
 @include transition(margin-left 2s);
}
.brands_txt > div.active{
  margin-left: 400px;
}
.brands_img img{
  display:none;
}
#brands_section{
  background-color: #dfdfe1;
  background-image:url("/images/home_main_img2.jpg");
}
#quince_main .col:nth-child(2){
  text-align:center;
  top:50%;
}
#quince_main .quince_txt div:first-child{
  font-size:4rem;
  font-family:$playfair_display;
  font-weight:700;
}
#quince_main .quince_txt div:last-child{
  font-size:2rem;
  font-family:$playfair_display;
  font-weight:400;
}
#quince_main{
  background-color:white;
  background-image:url("/images/home_main_img3.jpg");
}
.quince_img img{
  display:none;
}

.quince_txt > div{
  max-width:600px;
  margin-right: auto;
}


/* .section > div{
  vertical-align:top;
} */
.quince-select-title{
  font-size:3rem;
  font-family:'Playfair Display';
  font-style:italic;
  font-weight:700;
}
#quince_selec_sec{
  margin:60px 0px 50px 0px;
}
.pos-f-t{
  position: fixed;
  z-index: 99999;
  width: 100%;
}
.vesti-excla{
  height:70px;
  background-size:70px 70px;
  width:70px;
}
.vesti-heart-link,
.vesti-heart-link-b,
.vesti-heart-link-c{
  position:absolute;
  z-index: 9999;
}
.vesti-heart-link{
  right:20px;
  top:0;
}
.vesti-heart-link-c{
  right: 19px;
  top: 0;
}
#quince_selec_sec .vesti-heart-link{
  right:15px;
}
.vesti-heart-link span,
.vesti-heart-link-c span{
  height:30px;
  background-size:30px 30px;
  width:30px;
  background-image:url("/images/ves-heart.svg");
}
.vesti-heart-link:hover span,
.vesti-heart-link-c:hover span,
.vesti-heart-link-c span.active,
.vesti-heart-link span.active{
  height:30px;
  background-size:30px 30px;
  width:30px;
  background-image:url("/images/ves-heart-b.svg");
}
.vesti-heart-link-b{
  left:23px;
  top:0;
}
.vesti-heart-link-b span{
  height:50px;
  background-size:50px 50px;
  width:50px;
  background-image:url("/images/ves-heart.svg");
}
.vesti-heart-link-b:hover span,
.vesti-heart-link-b span.active{
  height:50px;
  background-size:50px 50px;
  width:50px;
  background-image:url("/images/ves-heart-b.svg");
}

#top_middle_sec row{
  position:relative;
}
#top_middle_sec .row:last-child{
  margin:20px auto 50px auto;
}
#top_middle_sec .row:last-child .col-md-2:nth-child(1){
 text-align:right;
}
#top_middle_sec .row:last-child .col-md-2:nth-child(3){
 text-align:left;
}
.btn-vesti-slide{
  border: 1px solid;
  padding: 10px 80px;
  font-size:1.5rem;
  margin: 20px 0px;
}
.main_slider_in{
  line-height: .8;
  text-align: right;
  display: inline-block;
}
.main_slider_btn{
  text-align:right;
}
.main_slider_txt{
  text-align:left;
}
.main_slider_txt span:nth-child(1){
  font-size:3rem;
}
.main_slider_txt span:nth-child(3){
  font-size:6rem;
}
.vesti-new-border{
  z-index:999;
  position:absolute;
  width: 0;
  height: 0;
}
.vesti-new-txt{
  position: absolute;
  z-index: 9999;
  color: white;
  font-family: arial;
  font-weight: bold;
  @include transform-rotate(-44deg);
}
.vesti-new-border-a{
  border-top: 100px solid $main_vest_color;
  border-right: 100px solid transparent;
}
.vesti-new-txt-a{
  font-size: 1rem;
  top: 18px;
  left: 27px;
}
#top_middle_sec_row{
  position:relative;
  height:630px;
}
#top_middle_sec_row #top_middle_img1,
#top_middle_sec_row #top_middle_img2,
#top_middle_sec_row #top_middle_img3{
  position:absolute;
  top:0px;
  left:-50px;
  @include transition(left 1s);
}
#top_middle_sec_row #top_middle_img1.active{
  left:0px;
}
#top_middle_sec_row #top_middle_img2.active{
  left:400px;
}
#top_middle_sec_row #top_middle_img3.active{
  left:800px;
}
#quince_thumb_1,
#quince_thumb_2,
#quince_thumb_3,
#quince_thumb_4,
#quince_thumb_5,
#quince_thumb_6{
  visibility:hidden;
    opacity: 0;
      @include transition(visibility 0s, opacity 0.5s linear);
}
#quince_thumb_1.active,
#quince_thumb_2.active,
#quince_thumb_3.active,
#quince_thumb_4.active,
#quince_thumb_5.active,
#quince_thumb_6.active{
  opacity: 1;
  visibility:visible;
}
.flash_hover_link:hover img{
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
      opacity: .4;
  }
  100% {
      opacity: 1;
  }
}
@keyframes flash {
  0% {
      opacity: .4;
  }
  100% {
      opacity: 1;
  }
}
@media only screen and (min-width: 900px) {
  #main_slider_arrow_cont{
      display:block;
  }
  #brands_section{
      background-image:url('/images/home_main_img2.jpg');
  }
  .brands_img img,
  .quince_img img{
      display:none;
  }
}
//*****ABOUT PAGE**************/
.contact-col{
  width:680px;
}
.about-col{
  width: 540px;
}
.about_bg{
  background: url("/images/about_bg.jpg") no-repeat center center; 
  @include transform-background(cover);
}
.contact_bg{
  background: url("/images/contact_bg.jpg") no-repeat center center; 
  @include transform-background(cover);
}
.white-md-bg-in{
  background-color: white;
  padding:50px 20px;
}
.about_panel_in p{
  margin-bottom:40px;
}
.main_sub_body h2{
  font-family:$playfair_display;
  font-weight: 500;
  color:$main_vest_color_b;
  font-style: italic;
  padding-bottom:16px;
}
.container-in-space{
  padding-top: 50px;
  padding-bottom:50px;
  margin: 100px auto 50px auto;
}
.container-in-center{
  margin: 0px auto;
}
//CONTACT PAGE
.contact-container{
  padding-left:0px;
  padding-right:0px;
  .contact-section-right{
    margin-top: 10%;
  }
  .contact-address{
    padding:0px;
    margin:10px 0px 0px 0px;
    text-align:left;
    .header{
      font-weight:bold;
      margin-top:10px;
    }
    .address-hour div:nth-child(1){
      text-align:left;
    }
    .address-hour div:nth-child(2){
      text-align:right;
    }
    .address-phone{
      margin:5px 0px;
    }
    .address-phone a{
      color:black;
    }
  }
}
/***ACCORDEON****/
.card:first-child{
  border-bottom: none;
}
.card{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @include transform-direction(vertical,normal,column);
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent !important;
  background-clip: border-box;
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-left:none;
  border-right:none;
}
.card-header{
  padding: .2rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent !important;
  border-bottom: none;
}
.collapse-btn{
  color:black;
  text-decoration: none !important;
  padding:0px;
}
#collapseOne{
  padding: 5px 10px;
  border-top: 1px solid rgba(0,0,0,.125);
}
/***COLOR CUBES***/
.colors_cubes{
  display: inline-block;
  margin:2px 2px 2px 0px;
  border:1px rgba(0,0,0,.2) solid;
}
.color_cubes_btn_a{
  border: 2px #DDDCDC solid;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.vesti_in_user_btn_pnl{
  margin:5px 0px;
}
.vesti_in_btn_pnl{
  margin:25px 0px;
}
.vesti_in_btn{
  background-color:$main_vest_color_b;
  border:1px solid $main_vest_color_b;
  color: white !important;
  padding: 10px 0px;
  font-family:$playfair_display;
  text-align:center;
  font-style: italic;
  cursor:pointer;
  font-size:1rem;
}
.vesti_in_btn_b{
  background-color:$main_vest_color_b;
  border:1px solid $main_vest_color_b;
  color: white !important;
  padding: 5px 0px;
  font-family:$playfair_display;
  text-align:center;
  font-style: italic;
  cursor:pointer;
  font-size:.9rem;
}
.vesti_in_btn:hover,
.vesti_in_btn_b:hover{
  background-color: transparent;
  color: $main_vest_color_b !important;
}
//cart page
.vesti_in_btn_oval_white{
  background-color:white;
  border:1px solid $main_vest_color_b;
  color: $main_vest_color_b !important;
  padding: 10px 0px;
  font-family:$playfair_display;
  text-align:center;
  font-style: italic;
  cursor:pointer;
  font-size:1.2rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.vesti_in_btn_oval_white:hover{
  background-color:$main_vest_color_b;
  border:1px solid $main_vest_color_b;
  color: white !important;
}
.vesti_in_btn_oval{
  background-color:$main_vest_color_b;
  border:1px solid $main_vest_color_b;
  color: white!important;
  padding: 10px 0px;
  font-family:$playfair_display;
  text-align:center;
  font-style: italic;
  cursor:pointer;
  font-size:1.2rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.cart-container-in{
  padding-right:0px;
  padding-left:0px;
  font-family: SANS-SERIF;
}
.cart-container-in h2{
  position:absolute;
  top: 25%;
}
.cart-container-in .row{
  margin:20px 0px;
}
.cart-item-1 .container{
  padding-left:0px;
}
.cart-item-1 .row{
  margin:0px 0px;
}
.cart-item-header > div:not(:first-child):not(:last-child),
.cart-item-items > div:not(:first-child):not(:last-child){
  text-align:center;
}
.cart-item-header > div:first-child,
.cart-item-items > div:first-child{
  text-align:left;
}
.cart-item-header > div:last-child,
.cart-item-items > div:last-child{
  text-align:right;
}
.cart-item-header{
  font-weight:bold;
  background-color:$vesti-light-gray;
  padding: 10px 0px;
}
.cart-container-in .cart-item-items:not(:first-child){
  border-top: $vesti-light-bars;
  padding-top: 20px;
}
.cart-container-in .cart-item-img{
  width:75%;
}
.cart-item-items {
  .col{
    padding:10px;
  }
  .cart-item-1 {
    .col:nth-child(1){
      padding-left:0px;
      padding-right:0px;
    }
    .col:nth-child(2){
      /* line-height: 1rem; */
      display:flex;
      flex-direction:column;
      justify-content:space-between;

      div p:first-child{
      
        font-weight:bold;
      }
      div p:not(:first-child){
        line-height: .5rem;
        font-size: .8rem;
      }
      div:last-child a{
       text-decoration:none;
       color:black;
        &:hover{
          text-decoration:underline;
        }
        &:last-child{
          margin-left:5%;
        }
      }
    }
  }
}

.vesti-cart-quantity-input{
  padding: 10px;
  text-align: center;
}
.cart-item-subtitle{
  font-weight:bold;
}
.cart-footer-section{
  background-color: $vesti-light-gray;
}
.cart-footer-section .cart-footer-totals:nth-child(2){
  text-align: right;
}
.cart-footer-section .cart-footer-totals > .container .row:last-child{
  font-weight:bold;
  font-size: .9rem;
}
.cart-text-cont{
  margin:50px auto;
}
#session_msg{
  font-weight:bold;
}
#session_msg.success{
  color:$vesti-msg-color-success;
}
#session_msg.error{
  color:$vesti-msg-color-error;
}
#session_msg.alert{
  color:$vesti-msg-color-alert;
}
//SHOP PAGE
.vesti-new-border-b{
  border-top: 60px solid $main_vest_color_b;
  border-right: 60px solid transparent;
}
.shoplist-list-cont-in .shoplist-stock-txt {
  font-family: Arial;
  font-size: .8rem;
  font-weight:bold;
}
// PRODUCT PAGE
#product_addCart_btn,
#product_out_stock_btn{
    display:none;
}
.product_in_colors .colors_cubes_name span{
  font-size: 1.1rem;
  font-style: italic;
  text-transform: capitalize;
  font-family: "Playfair Display";
}
.product_in_model{
  font-size:1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.product_in_styles{
  font-weight: bold;
  font-size: 1.1rem;
  margin: 4px 0px;
  text-align: left;
}
.product_in_rate{
  font-size:1.3rem;
}
.vesti_out_stock_btn{
  background-color: black;
  color:white;
  border: 1px solid black;
  padding: 10px 0;
  font-family: Playfair Display;
  text-align: center;
  font-style: italic;
  cursor: pointer;
  font-size: 1rem;
}
.product_main_txt .shoplist-stock-txt{
  font-size: 1rem;
  padding:5px 0px;
  font-family:Arial;
}
.product_in_rate .rate-view{
  color:$main_vest_color_b;
}
.product_in_rate .rate-count{
  display: inline-block;
  vertical-align: top;
}
.product_in_rate .rate-view{
  display:inline-block;
}
.product_in{
  padding:50px 0px;
  margin: 100px auto 50px auto;
}
.product_thumnnail img{
    width:70px;
}
.product_main_img img{
    width:100%;
}
.product_main_txt{
    display:table;
}
.product_in_txt{
    display:table-cell;
    text-align:left;
}
.product_in_title{
    font-weight:700 !important;
    font-size:2rem;
    padding-bottom: 0px !important;
}
.product_in_vendor{
    font-weight: 700;
    font-family: $playfair_display;
    font-style: italic;
}
.product_in_detail{
    font-size: 1.1rem;
    line-height: 1.4;
    padding: 10px 0px;
}
.product_in_price{
    font-family: Arial;
    font-weight: bold;
    font-size: 2rem;
}
.product_in_sub_title{
    font-family: $playfair_display;
    font-style: italic;
    font-size: 1.1rem;
}
.product_in_colors,
.product_in_size{
    margin-bottom: 10px;
}
.size_spheres{
    width: 34px;
    height: 33px;
    background: transparent;
    display: inline-block;
    border-radius: 18px;
    margin: 2px 2px 2px 0px;
    border: $vesti-light-bars-b;
    cursor: pointer;
    font-family: "Arial";
    font-size: .8rem;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
button.size_spheres:hover {
    background: black;
    color: white;
}
button.size_spheres.selected {
    background: black;
    color: white;
}
button.colors_cubes.selected{
  border: 1px solid white;
  outline: 1px solid black;
}
.product_in_detail_drop{
    margin: 25px 0px;
}
.vestidos-icons-social-black{
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}
.vestidos-icons-tear-dress{
  width: 270px;
  background-size: 270px 270px;
}
.product_in_loved{
    padding-top:100px;
}
.product_in_loved img{
    width:100%;
}
.product_in_title_loved{
    color:black !important;
    font-weight:700 !important;
    font-size:1rem;
    padding-bottom: 0px !important;
}
#popup_bgOverlay{
    display:none;
    background-color:rgba(0,0,0,0.8);
    position:absolute;
    width:100%;
    height:100%;
    z-index:99999;
}
#popup_text{
    background-color: white;
    padding:40px 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:30%;
    position: absolute;
    color:black;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.popup_close_btn_pnl{
    text-align:center;
}
.popup_close_btn{
    margin-top:30px;
}
//UNDER MAINTENANCE
.under_const{
  width:644px;
}
.under_const h3{
  font-size:3rem;
}
.under_const .error_msg{
  font-size:2rem;
}
.under_const .col{
  text-align:center;
}
//ERROR PAGE 1
.missing-col{
  width:644px;
}
.missing-col h3{
  font-size:7rem;
}
.missing-col .error_msg{
  font-size:2rem;
}
.missing-col .col{
  text-align:center;
}
// SHOP PAGE
.vesti-new-txt-b{
  font-size: .7rem;
  margin-top: 10px;
    margin-left: 5px;
}
.shoplist-list-cont-in .row div{
    padding-right:0px;
    padding-left:0px;
}
.shoplist-list-cont-in .row div:nth-child(1){
    text-align:left;
}
.shoplist-list-cont-in .row div:nth-child(2){
    text-align:right;
}
.shoplist-list-cont-in .shoplist-thumb-name{
    font-family: Arial;
    font-size: .8rem;
}
.shoplist-list-cont-in .shoplist-thumb-price{
    font-family: Arial;
    font-size: 1.1rem;
}
.shoplist-list-cont-in .shoplist-thumb-auth{
    font-family: Arial;
    font-size: .7rem;
}
.color_cubes_view_a{
  width: 23px;
  height: 15px;
}
.shoplist-nav{
    text-align:right;
    margin: 20px 0px 10px 0px;
}
.shoplist-nav ul{
    list-style:none;
}
.shoplist-nav ul li{
    display:inline-block;
}
.shoplist-nav ul li:not(:first-child):not(:last-child){
    margin:0px 10px;
}
.shoplist-nav a,
.shoplist-nav{
    font-family: arial;
    font-size: 1rem;
    color: black;
}
.shoplist-nav select{
    padding: 10px 40px 10px 2px;
    background-color: transparent;
    text-align: left;
    background: none;
}
.shoplist-search-cont ul{
    list-style:none;
    padding: 0;
    margin: 0;
}
.shoplist-search-cont h3{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    line-height: 3rem;
}
.shoplist-search-cont ul li{
    text-align:left;
}
.shoplist-search-list-cont{
    max-height: 250px;
    overflow: auto;
}
.shoplist-search-type-cont{
    margin-bottom:20px;
}
#mobile-sort-nav{
    display:none;
    margin: 10px 0px;
}
#mobile-sort-nav #accordion .card-header{
    background-color:black !important;;
}
#mobile-sort-nav button{
    color:white;
}
// ACCOUNT SECTION
.account-form-section{
  margin:0px auto;
}
/* cancel confirm */
.cancel-container .row{
  margin:20px 0px;
}
.cancel-container .row h3{
  font-size:1.5rem;
}
.cancel-container .row:last-child{
  margin-top:40px;
}
  //ACCOUNT PAGE
  .vestidos-list-group-item{
    display: block;
}
.vestidos-list-group-item:not(:first-child){
    margin:5px 0px;
}
.no-top-border td,
.no-top-border th{
    border-top:none !important;
}
.vestidos-simple-link{
    color:black;
}
.vestidos-simple-link:hover{
    color:black;
    text-decoration:none;
}
.vestidos-simple-link-white{
  color:white
}
.vestidos-simple-link-white:hover{
  color:white;
}
.vesti_in_btn_link{

    border: $vesti-light-bars;
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
    @include transition(background-color 230ms)
}
.vesti_in_btn_link:hover{
    background-color:#000;
    color:white !important;
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
}


/* ACCOUNT ORDER */
.result-mg{
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
.result-mg.success{
  color: green;
}
.result-mg.error{
  color: red;
}
.order-product-status{
    margin:10px 0px;
}
.order-product-status .td{
  background-color:white;
  font-weight:bold;
  font-size:1rem;
}
.orders-main-col{
padding:0px !important;
}
.order-container{
padding:0px;
width:100%;
}
.order-container .td{
border-top:none;
}
.order-container .order-products{
    padding:10px;
}
.order-container .order-products:not(:first-child){
border-top:$vesti-light-bars;
}
.order-container .order-products table,
.order-container .order-products td{
background-color:white;
}
.order-container .order-container-in{
border: $vesti-light-bars;
margin-top:30px;
}
.order-container .order-container-in .order-first-row{
border-bottom: $vesti-light-bars;
background-color:#f5f8fa;
padding:10px 0px;
}
.order-container .order-container-in .order-first-row p:first-child{
font-weight:bold;
}
.order-container .order-container-in .order-first-row .header:nth-child(2) p{
padding: .1rem .75rem;
}
.order-container .order-container-in .order-first-row .header:nth-child(1) p{
padding-bottom: .2rem;
}

.order-container .order-products .order-product-info .product-subtitle{
font-size: .75rem;
}
.order-container .order-products .order-product-info .product-total{
color:red;
}
.order-container .order-products .order-product-info .product-title{
font-size:1.2rem;
color:black;
font-weight:bold;
text-decoration:none;
}
.order-container .order-products .order-product-info .product-title:hover{
text-decoration:underline;
}

.order-nav-list{
    text-align:right;
}
.order-nav-list ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}
.order-nav-list li{

    display: inline-block;
    padding: 5px;
}
/* VIEW ORDER PAGE */
.view-order-main .dates-ul{
  list-style-type: none;
  border: none;
  padding: 0px;
  margin: 0px;
}
.view-order-main .dates-ul .dates-cont{
  border:none;
  padding:0px;
  margin: 1px 0;
}
.view-order-main .dates-ul .dates-cont .dates .title{
 font-weight:bold;
 font-size:.8rem;
}

.view-order-header-info{
    padding: 0px;
    font-size: .8rem;
    font-family: Arial;
}
.view-order-header-total,
.view-order-header-amt-due{
    padding-left:0px;
}
.view-order-top ul li:first-child{
    margin-top:5px;
    font-weight:bold;
    padding:10px 0px;
    background-color:#f5f8fa;
}
.view-order-top,
.view-order-items,
.view-order-header-total,
.view-order-header-amt-due{
    background-color:white !important;
}
.view-order-header-total .row div:first-child,
.view-order-header-amt-due .row div:first-child{
    text-align:left;
}
.view-order-header-total .row div:last-child,
.view-order-header-amt-due .row div:last-child{
    text-align:right;
    padding:0px;
}
.view-order-header-total .row:last-child{
    font-weight:bold;
}
.view-order-header-payment-info .row div:first-child{
    text-align:left;
    padding-left:0px;
}
.view-order-header-payment-info .row div:last-child{
    text-align:right;
}
.view-order-top-list,
.view-order-top ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.view-order-top .left,
.view-order-top .right{
    padding-left:0px;
    padding-right:0px;
}
.view-order-top-list li{
    float: left;
    padding: 5px 2px;
    font-weight:bold;
    display:block;
}
.view-order-top-list li:first-child{
    padding: 5px 2px 5px 0px;
}
.view-order-top-list li:not(:first-child){
    border-left:$vesti-light-bars;
    padding: 5px 0px 5px 10px;
}
.view-order-items .data .desc{
    padding:5px;
}
.view-order-items .data .action{
    padding:4px;
}
.view-order-items .data .action .btn-block{
    font-size: .8rem;
}
.view-order-list{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.view-order-list .container{
    padding:0px;
}
.view-order-list .container .row div:last-child{
    padding:0px;
}
.view-order-list li{
    border-top:$vesti-light-bars;
padding: 15px 0px;
    margin: 10px 0px;
}
.view-order-list .header{
  font-size: 1.1rem;
margin: 5px 0px;
text-align:left;
}
//CHECKOUT PAGE
// BILLING
.billing-payment-section{
  margin:20px 0px 30px 0px;
    .row{
      border-left: 1px solid rgba(0,0,0,.1);
      border-right: 1px solid rgba(0,0,0,.1);
      
      &.button{
        border-bottom: 1px solid rgba(0,0,0,.1);
        &:first-child{
          border-top: 1px solid rgba(0,0,0,.1);
        }
      }
      .col{
        padding:10px;
      }
      &.content{
        display:none;
        .col{
          padding:20px;
          background-color:#fafafa;
          border-bottom: 1px solid rgba(0,0,0,.1);
        }
      }
    }
}
.braintree-sheet__header{
  display:none !important;
}
.braintree-sheet{
  background-color: #fafafa;
  border: none;
}
.checkout-cart-list-cell-panel{
  max-height: 400px;
  overflow: auto;
}
.checkout-cart-list-cell-panel::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
.checkout-cart-list-cell-panel::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,.3);
}
.checkout-cart-list-cell-panel::-webkit-scrollbar{
  width: 6px;
  background-color: #F5F5F5;
}
.checkout-lists-panel{
  background-color:rgba(0,0,0,.03) !important;
}
.checkout-btn-pnl{
  margin:40px auto 20px auto;
}
.checkout-subtitle{
  font-weight:bold;
  background-color:rgba(0,0,0,.03);
}
.checkout-header ul,
.checkout-cart-list-cell .info-data ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.checkout-header-ship{
  width: 33.33%;
}
.checkout-header-noship{
  width: 50%;
}
.checkout-header ul li,
.checkout-header ul li.active{
  float: left;
  text-align: center;
  margin: 10px 0px 30px 0px;
  border-top: $vesti-light-bars;
  border-bottom: $vesti-light-bars;
  border-left:$vesti-light-bars;
  position: relative;
  padding: 10px 0px;
}
.checkout-header ul li{
  background-color:white;
}
.checkout-header ul li.active{
  background-color:rgba(0,0,0,.03);
}
.checkout-header .checkout-arrow-down{
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0,0,0,.1);
  left: 48%;
  top:43px;
}
.checkout-header ul li:last-child{
  border-right:$vesti-light-bars;
}
.checkout-header .checkout-arrow-down,
.checkout-header .checkout-arrow-down-b{
  position: absolute;
}
.checkout-cart-list-cell .info-data ul li{
 display:inline-block;
 float:left;
}
.checkout-cart-list-cell .info-data ul li:first-child{
  padding-right:5px;
}
.checkout-cart-list-cell .info-data p{
  clear:left;
}
.checkout-cart-list-cell{
  padding:0px !important;
  border-top:none !important;
}
.checkout-cart-list-cell .img-data{
  width:30%;
}
.checkout-cart-list-cell .info-data{
  width:80%;
}
.checkout-cart-list-cell .info-data ul li:not(:first-child){
  border-left:$vesti-light-bars;
  padding:0px 5px;
}
.checkout-shipping-method-list{
  margin-top:60px;
}
.subtotal td:nth-child(1),
.grand-total td:nth-child(1){
  font-weight:bold;
}
.subtotal td:nth-child(2),
.grand-total td:nth-child(2){
  text-align:right;
}
.grand-total{
  font-size:1.2rem;
}
.checkout-lists-panel .info-data a{
  font-size:1rem;
}
//CHECKOUT CONFIRMATION
.shipping-info div{
  display: inline-block;
  padding: 20px 50px;
  margin-bottom: 13px;
}
.shipping-info td{
 vertical-align:top;
}
.shipping-info strong{
  border-bottom:$vesti-light-bars;
}
.shipping-info th{
  padding: 10px 0px;
  border-top:$vesti-light-bars;
  border-bottom:$vesti-light-bars;
}
#vesti-load{
  background-color:$main_vest_color_b;
  padding: 11px 0px;
  text-align: center;
  display:none;
}
#vesti-load-oval{
  background-color:$main_vest_color_b;
  padding: 11px 0px;
  text-align: center;
  display:none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#vesti-load img,
#vesti-load-oval img{
  width:80px;
  opacity:.7;
}
.checkout-subtitle-confirm{
  font-weight:bold;
  font-size:1.5rem;
  padding-bottom: 24px;
  text-align:center;
}
.vestidos-icons-globe{
  width: 19px;
  height: 19px;
  background-size: 19px 19px;
}
.vestidos-icons-confirm-b {
  width: 70px;
  background-size: 70px 70px;
}
.checkout-confirm-text{
  padding: 25px;
  font-size: 1rem;
}
.checkout-confirm-order-details{
  width:100%;
  margin-top:30px;
}
.checkout-confirm-order-details-data div{
  vertical-align:top;
}
.checkout-confirm-order-details-data div:not(:first-child){
  padding:10px;
}
.checkout-confirm-order-details-data .title{
  font-size:1.2rem;
}
.checkout-confirm-order-details .header1 div{
  text-align:right;
}
.checkout-confirm-order-details .header2 div,
.checkout-confirm-order-details .header3 div{
  text-align:right;
}
.checkout-confirm-order-details .header3 div{
  font-size:1rem;
  font-weight:bold;
  padding-bottom: 23px;
}
.checkout-confirm-info-cont{
  margin:0px auto;
  .checkout-confirm-order-details-data{
    &.header{
      border-top:$vesti-light-bars;
    }
    &.list{
      border-top: $vesti-light-bars;
      padding: 15px 0px;
    }
  }
}
.checkout-status-confirm div:first-child{
  text-align:right;
  padding:25px;
}
.checkout-status-confirm div:last-child{
  text-align:left;
}
// CONFIRMATION PAGES
.vestidos-icons-confirm{
  width: 100px;
  background-size: 100px 100px;
}
.confirm-col h3{
    font-size: 2rem;
    font-weight: bold;
}
.confirm-col .error_msg {
    font-size: 1rem;
}
.confirm-col {
    width: 644px;
}
.confirm-col .col:nth-child(1){
    text-align:center;
}
.checkout-confirm-order-details .header1 div{
  text-align: left;
  font-size: 1.2rem;
  padding-bottom: 36px;
}
// TERMS OF USE
.terms-container{
  font-size:1rem;
  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }
  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
  }
  li ol > li {
    margin: 0;
  }
  li ol > li:before {
    content: counters(item, ".") " ";
  }
}
//WISHLIST
.table .account-wishlist-table{
  background-color: white !important;
}
.account-wishlist-table{
  .row.content{
    padding:15px 0px;
    border-top:1px solid rgba(0,0,0,.1);
  }
  th{
    text-align:center;
  }
  td{
    text-align:center;
  }
  td.desc{
    text-align:left;
  }
  .no-wishlist{ 
    border-top:none;
  }
}


//ORDER
//IMPORT CONFIRM PAGE
.import-confirm .confirm-data-row{
  border-top:$vesti-light-bars;
  margin:5px 0px;
  padding:10px 0px;
}
.import-confirm .confirm-data-key{
  font-size:1.2rem;
}
//remove side padding
.remove-side-padding{
  padding-left:0px;
  padding-right:0px;
}
//Sign In Page
.signin-container{
  .signin-signup-section{
    border-left:$vesti-light-bars;
  }
  a.vesti-small-link{
    color: black;
    font-size: .9rem;
  }
  .signin-login-section .form-text{
    margin-top: .9rem;
  }
}
//custom vestidos mobile scss
@import "vestidos_mobile";