/* playfair-display-regular - latin */
// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
body,html{
  height: 100%;
  margin: 0;
}
.main_body_height{
    min-height: -webkit-calc(100% - 100px);     /* Chrome */
    min-height: -moz-calc(100% - 100px);     /* Firefox */
    min-height: calc(100% - 100px);     /* native */
}
.playfair-display{
  font-family:$playfair_display;
  font-weight: 400;
}
.playfair-display-italic{
  font-family:$playfair_display;
  font-weight: 400;
  font-style: italic;
}
.playfair-display-bold{
  font-family:$playfair_display;
  font-weight: 700;
}
.playfair-display-bold-italic{
  font-family:$playfair_display;
  font-weight: 700;
  font-style: italic;
}
.playfair-display-black{
  font-family:$playfair_display;
  font-weight: 900;
}
.playfair-display-black-italic{
  font-family:$playfair_display;
  font-weight: 900;
  font-style: italic;
}

.crimson-txt{
  font-family:$crimson_txt;
  font-weight: 400;
}
.crimson-txt-italic{
  font-family:$crimson_txt;
  font-weight: 400;
  font-style: italic;
}
.crimson-txt-bold{
  font-family:$crimson_txt;
  font-weight: 700;
}
.crimson-txt-bold-italic{
  font-family:$crimson_txt;
  font-weight: 700;
  font-style: italic;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.vestidos-main-nav{
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 9999;
}
.vest-maincolor{
	background-color:$main_vest_color;
	color:white;
}
.vest-maintxtcolor{
	background-color:$main_vest_color;
}
.white-border-bg{
  border-color:white;
}
// #fullpage{
//   margin-top:50px;
// }
#slide1,
#slide2,
#slide3{
  background-position: center center;
}
#slide1{
  background-image: url(/images/vestidos_slide1.jpg);
}
#slide2{
  background-image: url(/images/vestidos_slide3.jpg);
}
#slide3{
  background-image: url(/images/vestidos_slide2.jpg);
}
.section{
background-size: cover;
}
.slide{
background-size: cover;
}
.home_bg_2{
  background:url('/images/home_main_img2.jpg') no-repeat top center;
  background-size:1551px 752px;
  height:752px;
}
.home_w100{
  max-width:100% !important;
}
.gray_bg{
  background-color:#dfdfe1;
}
/***white arrow cont***/
.main_arrow_slider_txt{
    width: 200px;
    position:absolute;
    text-align: center;
    font-family:Arial;
    color:white;
    font-size:1.5rem;
    line-height:1rem;
    bottom:1%; left: 50%;
     @include transform-traslate(-50%,-50%);
      z-index:999;
}
#home_main_slider .vesti-down-arrow{
    width: 100px;
    height: 100px;
    background-image: url('/images/ves-down-arrow.svg');
    background-size: 100px 100px;
}
.vesti_font_color_a{
  color:$main_vest_color;
}
.vesti_font_color_b{
  color:$main_vest_color_b;
}
.vesti-svg{
    margin: 0px auto;
    display:inline-block;
    background-repeat:no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align:middle;
}
.vestidos-icons-payment{
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}
.vestidos-icons-social{
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}
.vestidos-icons-social-b{
    width: 30px;
    height: 23px;
    background-size: 30px 23px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-light .navbar-toggler {
  color: rgb(255, 255, 255);
  border: none;
}
/***manu button***/
#vesti-main-nav-btn{
  width: 35px;
  height: 28px;
  position: relative;
}
#vesti-main-nav-btn span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  @include transform-rotate(0deg);
  @include transition(.25s ease-in-out);
}

#vesti-main-nav-btn span:nth-child(1) {
  top: 0px;
}
#vesti-main-nav-btn span:nth-child(2),#vesti-main-nav-btn span:nth-child(3) {
  top: 12px;
}
#vesti-main-nav-btn span:nth-child(4) {
  top: 25px;
}
#vesti-main-nav-btn.open span:nth-child(1),
#vesti-main-nav-btn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#vesti-main-nav-btn.open span:nth-child(2) {
  @include transform-rotate(45deg);
}
#vesti-main-nav-btn.open span:nth-child(3) {
  @include transform-rotate(-45deg);
}

.top_middle_sec_title{
  font-family:$playfair_display;
  font-weight: 400;
  font-style: italic;
  color:black;
  text-align:center;
  font-size:2.5rem;
  padding:10px 0px;
}
.top_middle_sec_title2{
  font-family:$playfair_display;
  font-weight: 400;
  font-style: italic;
  color:black;
  text-align:center;
  font-size:2.6rem;
  padding:10px 0px;
  line-height: 3rem;
}
#brands_section .col:nth-child(2){
  text-align:center;
  top:50%;
}
#brands_section .brands_txt div:first-child{
  font-size:4rem;
  font-family:$playfair_display;
  font-weight:700;
}
#brands_section .brands_txt div:last-child{
  font-size:2rem;
  font-family:$playfair_display;
  font-weight:400;
}
.brands_txt > div{
  max-width:600px;
  margin-left: 200px;
 @include transition(margin-left 2s);
}
.brands_txt > div.active{
  margin-left: 400px;
}
.brands_img img{
  display:none;
}
#brands_section{
  background-color: #dfdfe1;
  background-image:url("/images/home_main_img2.jpg");
}
#quince_main .col:nth-child(2){
  text-align:center;
  top:50%;
}
#quince_main .quince_txt div:first-child{
  font-size:4rem;
  font-family:$playfair_display;
  font-weight:700;
}
#quince_main .quince_txt div:last-child{
  font-size:2rem;
  font-family:$playfair_display;
  font-weight:400;
}
#quince_main{
  background-color:white;
  background-image:url("/images/home_main_img3.jpg");
}
.quince_img img{
  display:none;
}

.quince_txt > div{
  max-width:600px;
  margin-right: auto;
}


/* .section > div{
  vertical-align:top;
} */
.vestidos-footer{
  padding-top:150px;
  padding-bottom:50px;
  font-family:Arial;
}


.vesti-footer-section-2{
  border-top:$main-vesti-color-light 1px solid;
}
.vesti-footer-section-2 div:first-child{
  border-right:$main-vesti-color-light 1px solid;
}

.vesti-footer-section-2 .text-right img{
  margin:10px 0px;
}

.quince-select-title{
  font-size:3rem;
  font-family:'Playfair Display';
  font-style:italic;
  font-weight:700;
}
#quince_selec_sec{
  margin:60px 0px 50px 0px;
}
.pos-f-t{
  position: fixed;
  z-index: 99999;
  width: 100%;
}
.vesti-excla{
  height:70px;
  background-size:70px 70px;
  width:70px;
}
.vesti-heart-link{
  position:absolute;
  z-index: 9999;
  right:0;
  top:0;
}
#quince_selec_sec .vesti-heart-link{
  right:15px;
}
.vesti-heart-link span{
  height:30px;
  background-size:30px 30px;
  width:30px;
  background-image:url("/images/ves-heart.svg");
}
.vesti-heart-link:hover span{
  height:30px;
  background-size:30px 30px;
  width:30px;
  background-image:url("/images/ves-heart-b.svg");
}
#top_middle_sec row{
  position:relative;
}
#top_middle_sec .row:last-child{
  margin:10px auto;
}
#top_middle_sec .row:last-child .col-md-2:nth-child(1){
 text-align:right;
}
#top_middle_sec .row:last-child .col-md-2:nth-child(3){
 text-align:left;
}
.btn-vesti-slide{
  border: 1px solid;
  padding: 10px 80px;
  font-size:1.5rem;
  margin: 20px 0px;
}
.main_slider_in{
  line-height: .8;
  text-align: right;
  display: inline-block;
}
.main_slider_btn{
  text-align:right;
}
.main_slider_txt{
  text-align:left;
}
.main_slider_txt span:nth-child(1){
  font-size:3rem;
}
.main_slider_txt span:nth-child(3){
  font-size:6rem;
}
.vesti-new-border{
  z-index:9999;
  position:absolute;
  width: 0;
  height: 0;
  border-top: 100px solid $main_vest_color;
  border-right: 100px solid transparent;
}
.vesti-new-txt{
  position: absolute;
  z-index: 99999;
  color: white;
  font-family: arial;
  font-size: 1rem;
  font-weight: bold;
  @include transform-rotate(-44deg);
  top: 18px;
  left: 27px;
}
#top_middle_sec_row{
  position:relative;
  height:630px;
}
#top_middle_sec_row #top_middle_img1,
#top_middle_sec_row #top_middle_img2,
#top_middle_sec_row #top_middle_img3{
  position:absolute;
  top:0px;
  left:-50px;
  @include transition(left 1s);
}
#top_middle_sec_row #top_middle_img1.active{
  left:0px;
}
#top_middle_sec_row #top_middle_img2.active{
  left:400px;
}
#top_middle_sec_row #top_middle_img3.active{
  left:800px;
}
#quince_thumb_1,
#quince_thumb_2,
#quince_thumb_3,
#quince_thumb_4,
#quince_thumb_5,
#quince_thumb_6{
  visibility:hidden;
    opacity: 0;
      @include transition(visibility 0s, opacity 0.5s linear);
}
#quince_thumb_1.active,
#quince_thumb_2.active,
#quince_thumb_3.active,
#quince_thumb_4.active,
#quince_thumb_5.active,
#quince_thumb_6.active{
  opacity: 1;
  visibility:visible;
}
.flash_hover_link:hover img{
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
      opacity: .4;
  }
  100% {
      opacity: 1;
  }
}
@keyframes flash {
  0% {
      opacity: .4;
  }
  100% {
      opacity: 1;
  }
}
//*****ABOUT PAGE**************/
.about_bg{
  background: url("/images/about_bg.jpg") no-repeat center center; 
  @include transform-background(cover);
}
.about_panel_in{
  background-color: white;
  width: 45%;
  padding:50px 20px;
  margin: 134px auto 50px auto;
}
.about_panel_in p{
  margin-bottom:40px;
}
.about_panel_in h2{
  font-family:$playfair_display;
  font-weight: 500;
  color:$main_vest_color_b;
  font-style: italic;
  padding-bottom:16px;
}
.about-col{
  margin:0px auto;
}
.about_panel_in div:last-child{
  margin-top:50px;
}
//custom vestidos mobile scss
@import "vestidos_mobile";