/* playfair-display-regular - latin */
// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
/****default scroll bar***/
/* width */
.vesti-search-cont ::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.vesti-search-cont ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .1);
}
/* Handle */
.vesti-search-cont ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3)
}
.bg-vestidos-admin{
    background-color:$main_vest_color!important;
}
body{
    background-color:white;
}
body,html{
    height: 100%;
    margin: 0;
}
.vestidos-icons-logo{
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
}
.main_body_height{
    min-height: -webkit-calc(100% - 100px);     /* Chrome */
    min-height: -moz-calc(100% - 100px);     /* Firefox */
    min-height: calc(100% - 100px);     /* native */
}
#admin-wrap .container .row a:not(:first-child){
    padding-left:5px;
}
.bg_color_1{
    background-color:#1b96f0;
    & .orders_links{
        background-color:#1377cc;
        &:hover{
            background-color:#0f5f99;
        }
    }
}
.bg_color_2{
    background-color:#860ba7cf;
    & .orders_links{
        background-color:#690c82cf;
        &:hover{
            background-color:#4e0961cf;
        }
    }
}

.bg_color_3{
    background-color:#d21a60e3;
    & .orders_links{
        background-color:#ce185de3;
        &:hover{
            background-color:#a51249e3;
        }
    }
}
.bg_color_4{
    background-color:#1cc199;
    & .orders_links{
        background-color:#199476;
        &:hover{
            background-color:#146d57;
        }
    }
}
.bg_color_5{
    background-color:#e49102;
    & .orders_links{
        background-color:#d67424;
        &:hover{
            background-color:#c7691b;
        }
    }
}
#admin-wrap{
    /***product search bar ***/
    #search-result-holder {
        width: 100%;
        background: white;
        border-left: 1px solid #ced4da;
        border-right: 1px solid #ced4da;
        border-bottom: 1px solid #ced4da;
        position: absolute;
        z-index: 999;
        display:none;
    }
    #search-bar-holder{
        position:relative;
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
            li{
                a{
                    width: 100%;
                    display: inline-block;
                    padding: 10px 15px;
                    font-size: .9rem;
                    text-decoration:none;
                    color:black;
                    &:hover{
                        background-color:#f5f5f5;
                        color:black;
                    }
                }
                &:not(:first-child){
                    border-top:1px solid #ced4da
                }
            }
        }
    }
    /***end of search bar ***/
    .row_section_sep:not(:first-child),
    .confirm-data-row:not(:first-child){
        border-top:1px solid #ced4da !important;
        margin:10px 0px;
        padding:30px 0px;
    }
    .custom-ul{
        -moz-column-count: 4;
        -moz-column-gap: 20px;
        -webkit-column-count: 4;
        -webkit-column-gap: 20px;
        column-count: 4;
        column-gap: 20px;
        list-style-type: none;
        padding: 0px;
        margin: 5px 0px;
    }
    .sub-menu .nav-link{
        background-color: rgba(0,0,0,0.03);
        margin: 0px 5px;
        color: black;
        border: 1px solid rgba(0,0,0,0.1);
        font-size: .8rem;
        padding: 8px 15px !important;
        font-family: Arial;
        font-weight: bold;
        box-shadow: 0 0 3px rgba(0,0,0,0.1);
        border-radius: 5px;
    }
    .shoplist-nav{
        text-align: right;
        margin: 10px;
        & ul{
            padding: 0px;
            margin: 0px;
            & li{
                display: inline-block;
                margin: 5px;
            }
        }
    }
    .container-title{
        margin: 15px 0px;
        font-weight: bold;
        text-align: center;
        & div{
            text-align:center;
        }
        & div:first-child{
            text-align:left;
        }
        & div:last-child{
            text-align:right;
        }
    }
    .container-data{
        text-align: center;
        margin: 10px 0px;
        padding: 20px 0px;
    
        & div:first-child{
            text-align:left;
        }
        & div:last-child{
            text-align:right;
        }
        & .container-button a{
            background-color: rgba(0,0,0,.02);
            padding: 8px 10px;
            color: black;
            border-radius: 5px;
            font-size: .9rem;
            border: 1px solid rgba(0,0,0,.1);
            font-family: arial;
            &:hover{
                text-decoration:none;
                background-color:$main-vest-color-dark;
                color:white;
            }
        }
        &.row-even:nth-child(even){
            background-color:rgba(0,0,0,.02);
        }
    }
    .dropdown-menu{
        border:$main_vest_color;
    }
    .nav-link:hover, .navbar-link:hover {
        background-color:$main-vest-color-dark;
        text-decoration: none;
        color: white;
    }
    .vestidos-footer-abs{
        width: 100%;
        background-color: #f5f5f5;
    }
    #admin-wrap{
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
    }
    #push,#footer{
        height: 100px;
    }
    .warning-cont{
        width: 50%;
        margin: 10px auto;
        padding: 10px 40px;
        border: 1px solid rgba(0,0,0,.2);
    }
    .warning-cont .title{
        font-weight:bold;
    }
    .warning-text{
        font-size:1.5rem;
        font-weight:bold;
    }
    .form-btn-container div{
        text-align:center;
    }
    .admin-btn{
        background-color: white;
        border: 1px solid black;
        padding: 8px 40px;
        margin: 20px;
        color: black;
        cursor:pointer;
        display:inline-block;
        &:hover{
            background-color: black;
            color: white;
        }
    }
    .admin-btn-b{
        background-color: #fff;
        border: 1px solid #000;
        padding: 8px 40px;
        color: #000;
        cursor: pointer;
        display: inline-block;
        &:hover{
            background-color: #000;
            border: 1px solid #fff;
            color:white;
        }
    }
    .order-address-panels{
        border:1px solid rgba(0,0,0,.1);
        padding: 15px 25px;
        margin:10px 20px;
        font-size: .9rem;
        .title{
            text-decoration:underline;
        }
    }
    .cancel-container h3{
        color: red;
        font-size: 1.5rem;
    }

    //order page
    .admin-checkout-address{
        margin:10px 0px;
    }
    .admin-checkout-address .address-row{
        text-align:center;
    }
    .admin-checkout-address .shipping h3,
    .admin-checkout-address .billing h3{
        text-decoration:underline;
    }
    .admin-checkout-address .shipping,
    .admin-checkout-address .billing,
    .admin-checkout-product .quantity{
        text-align:center;
    }
    .admin-checkout-product .index,
    .admin-checkout-product .image{
        text-align:center;
    }
    .admin-checkout-product .description{
        text-align:left;
    }
    .admin-checkout-product .total{
        text-align:right;
    }
    .admin-checkout-product .row{
        border-top: 1px solid rgba(0,0,0,.1);
    }
    .admin-checkout-product .row:last-child{
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .admin-checkout-product .headers-row{
        padding:10px 0px;
    }
    .admin-checkout-product .products-row{
        padding:10px 0px;
    }
    .admin-checkout-total{
        margin:10px 0px;
    }
    .admin-checkout-total .header,
    .admin-checkout-total .total{
        margin:2px 0px;
    }
    .admin-checkout-total .row:last-child .header,
    .admin-checkout-total .row:last-child .total{
        font-weight:bold;
    }
    .billing-payment-section{
        margin:20px 0px 30px 0px;
    }
    .billing-payment-section .row.button{
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .billing-payment-section .row.button:first-child{
        border-top: 1px solid rgba(0,0,0,.1);
    }
    .billing-payment-section .row{
        border-left: 1px solid rgba(0,0,0,.1);
        border-right: 1px solid rgba(0,0,0,.1);
    }
    .billing-payment-section .row .col{
        padding:10px;
    }
    .billing-payment-section .row.content .col{
        padding:20px;
        background-color:#fafafa;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .billing-payment-section .row.content{
        display:none;
    }
    .braintree-sheet__header{
        display:none !important;
    }
    .braintree-sheet{
        background-color: #fafafa;
        border: none;
    }
    #coupon_code{
        width: 70%;
        display: inline-block;
        vertical-align: middle;
    }
    .coupon-container{
        border: 1px solid rgba(0,0,0,.1);
        margin-top:40px;
    }
    #coupon_code_link{
        width: 25%;
        background: white;
        color: black;
        border: 1px solid black;
    }
    #coupon_code_link:hover{
        background: black;
        color: white;
    }
    #coupon_section .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: none;
    }
    
    #coupon_section .table th {
        background:#fafafa;
    }
    .admin-checkout-address{
        margin:10px 0px;

        .address-row{
            text-align:center;
        }
        .shipping h3,
        .billing h3{
            text-decoration:underline;
        }
    }
    .admin-checkout-address{
        .shipping,
        .billing{
            text-align:center;
        }
    }
    .admin-checkout-product{
        .quantity{
            text-align:center;
        }
        .index,
        .image{
            text-align:center;
        }
        .description{
            text-align:left;
        }
        .total{
            text-align:right;
        }
        .row{
            border-top: 1px solid rgba(0,0,0,.1);
        }
        .row:last-child{
                border-bottom: 1px solid rgba(0,0,0,.1);
        }
        .headers-row{
            padding:10px 0px;
        }
        .products-row{
            padding:10px 0px;
        }
    }

    .admin-checkout-total{
        margin:10px 0px;
        .header,
        .total{
            margin:2px 0px;
            text-align:right;
        }
        .row:last-child{
            .header,
            .total{
                font-weight:bold;
                }
        }
    }
} 

//custom vestidos mobile scss
@import "vestidos_admin_mobile";