@media only screen and (max-width: 600px) {
    .admin-checkout-product{
        .quantity,
        .index,
        .image,
        .description,
        .total{
            text-align:center !important;
        }
    }
    .admin-checkout-total{
        .header,
        .total{
            text-align:center !important;
        }
    }
    .warning-cont{
        width: 100% !important;
    }
}
@media only screen and (max-device-width: 812px) and (orientation: landscape) {

}